include ../../mixins/index
<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color' content='#EBF3FA')
    script.
      window.languange = 'en'
    +bl('css')
      //+exp render_bundle('chunk-vendors', 'css')
      +exp render_bundle('app', 'css')
    link(
      rel="stylesheet",
      media="all",
      href!=static("'css/style.css'")
    )  
    link(
      rel="icon",
      href!=static("'img/favicon.png'"),
      type="image/x-icon"
    )

  body
    #app
      +bl('app')
        +bl('content')

    +bl('js')
      //+exp render_bundle('chunk-vendors', 'js')
      +exp render_bundle('app', 'js')

