{% extends 'core/base.jinja' %}
{% block title %} {% trans %}  Вход {% endtrans %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if confirmation %}

        <form method="post"
              action="{{ url( 'account_confirm_email', confirmation.key) }}">
            {% csrf_token %}
            <button type="submit">{% trans %} Confirm{% endtrans %}
                {{confirmation.email_address.email}}
            </button>
        </form>
        <pre>{%debug %}</pre>
        {% else %}


        <p>{% trans %}This e-mail confirmation link expired or is invalid.
            {% endtrans %}</p>

        {% endif %}
    </div>
</div>
{% endblock %}