{% extends 'core/base.jinja' %}
{% block title %} {% trans %}  Вход {% endtrans %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <p>{% trans %} Вы уже выполнили вход{% endtrans %}</p>
        {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p() }}
            <input type="submit" value="{% trans %}Войти{% endtrans %}">
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        <a href="{{ provider_login_url(request, 'google')  }}"> Google</a>
        <a href="{{ provider_login_url(request, 'facebook', method='oauth2' )}}">
            Facebook</a>
        <p>{% trans %}Еще не зарегистированы?{% endtrans %}</p>
        <a href="{{ url('account:account_signup') }}">
            {% trans %} Зарегистрироваться {% endtrans %}</a>
        <a href="{{ url('account:account_reset_password') }}">{% trans %}
            Восстановить
            пароль{% endtrans %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}