{% extends 'core/base.jinja' %}
{% block title %} {%trans%} Заказы {%endtrans%} {{ user.username }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for order in object_list %}
        <div class="row col-sm-12">
            <div class="col-sm-3">
                {{order.number_order}}
            </div>
            <div class="col-sm-3">
                {{order.created_at}}
            </div>
            <div class="col-sm-2">
                {{order.payment_status}}
            </div>
            <div class="col-sm-2">
                {{order.status}}
            </div>
             <div class="col-sm-2">
                {{order.pay.price}}
            </div>
        </div>
        {% for product_order in order.variant_order.all() %}
        <div class="row col-sm-12">
            <div class="col-sm-2">
                {{ product_order.product_variant.product }}
            </div>
            <div class="col-sm-2">
                {{ product_order.product_variant.size }}
            </div>
            <div class="col-sm-2">
                 {{ product_order.product_variant.color }}
            </div>
            <div class="col-sm-2">
                {{ product_order.price_product }}
            </div>
            <div class="col-sm-2">
                 {{ product_order.count }}
            </div>
            <div class="col-sm-2">
                 {{ product_order.price_total }}
            </div>
        </div>

        {% endfor %}
        </br>
        {% endfor %}
    </div>
</div>
{% endblock %}
