{% extends 'core/base.jinja' %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p() }}
                <button type="submit" class="btn btn-success">
                    {% trans %}Сменить пароль {% endtrans %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}