{% extends 'core/base.jinja' %}
{% block title %} Редактировать профиль {{ user.username }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p() }}
            <input type="submit" value="Сохранить">
        </form>
    </div>
    <br/>
<a href="{{url('account:orders')}}">{%trans%}Заказы{%endtrans%}</a>

    <a href="{{url('account:account_change_password')}}">{%trans%}Сменить пароль{%endtrans%}</a>
     <a href="{{url('account:account_change_email')}}">{%trans%}Сменить Email{%endtrans%}</a>

</div>
{% endblock %}
