{% extends 'core/base.jinja' %}
{% block title %}{% trans %} Ваша почта подтверждена {% endtrans %} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <p>{% trans %}Теперь можете воспользоватся всеми удобствами сайта
            {% endtrans %} </p>
    </div>
</div>
{% endblock %}