{% extends 'core/base.jinja' %}
{% block title %} {% trans %}Регистрация {% endtrans %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <p>{% trans %}Вы уже выполнили вход{% endtrans %}</p>
        {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p() }}
            <input type="submit"
                   value="{% trans %}Зарегистрироватся {% endtrans %}">
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}