{% extends 'core/base.jinja' %}
{% block title %} {% trans %}  Вход {% endtrans %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <h1>{% trans %} Sign Up {% endtrans %} </h1>
        {% with provider_name=account.get_provider.name,
        site_name=site.name %}

        <p>{% trans %}You are about to use your {{provider_name}}
            account to login to
            {{site_name}}. As a final step, please complete the following
            form:{% endtrans %}</p>
        {% endwith %}
        <form class="signup" id="signup_form" method="post"
              action="{{ url('socialaccount_signup') }}">
            {% csrf_token %}
            {{ form.as_p() }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans %} Sign Up {% endtrans %} &raquo;</button>
        </form>


    </div>
</div>
{% endblock %}