{% extends 'core/base.jinja' %}ForeignKey
{% block title %} {% trans %} Контакты  {%endtrans%} {% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p() }}
        <input type="submit" value="{% trans %}Send{% endtrans %}">
    </form>
    {% for number in number_phone.all() %}
    {{ number}}
    {% endfor %}
    <br/>

    {{email }}
    <br/>
    social_link
    {% for obj in social_link.all() %}
    {{ obj.url}}
    {% endfor %}
    <br/>
    Найти нас
    {{latitude }}
    {{ longitude}}
</div>
{% endblock %}