{% extends 'core/base.jinja' %}
{% block title %} {% trans %} Оплата и доставка  {%endtrans%} {% endblock %}
{% block content %}
<div class="container">
    {%for obj in object_list %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ obj.elements_page.first().image.url }}"
                 width="150" height="150"
                 alt="{{ obj.elements_page.first().image.alt }}"
                 class="img-thumbnail">
        </div>
        <div class="col-md-2">
            {{ obj.elements_page.first().description}}
        </div>
          <div class="col-md-6">
            {{ obj.content|safe}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}