{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    {% if form_set %}
        {% with show_button=True %}
    {% include 'store/basket_form.jinja' %}
    {% endwith %}
    <a href="{{url('store:main') }}"> {% trans %} Продолжить покупки {% endtrans %}</a>
    <a href="{{url('store:ordering') }}"> {% trans %} Сделать заказ {% endtrans %}</a>
    {% else %}
    {% trans %}Ваша корзина пуста, самое время делать покупки {% endtrans %}
    <a href="{{url('store:main') }}">
        {% trans %} Продолжить покупки {% endtrans %}</a>
    {% endif %}
</div>
{% endblock %}