<form action="" method="post">
    {{ form_set.management_form }}
    {% for form in form_set %}
    <div class="row">
        <div class="col">
            {{ form.as_table() }}
        </div>
    </div>
    {%endfor %}
    <input type='hidden' name='csrfmiddlewaretoken'
           value='{{ csrf_token }}'/>
    {% if show_button %}
    <input type="submit"
           value="{% trans %} Обновить количество {% endtrans %}">
    {% endif %}
</form>