{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <p>{% trans %} Способ доставки {% endtrans %} {{object.delivery}}</p>
    <p>{% trans %} Способ оплаты {% endtrans %} {{object.payment_method}}</p>
    <p>{% trans %} Стоимость товаров {% endtrans %}
        {{object.pay.price_products}}</p>
    <p>{% trans %} Способ доставки {% endtrans %}
        {{object.pay.price_delivery}}</p>
    <p>{% trans %} К оплате: {% endtrans %} {{object.pay.price}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit"
               value="{% trans %} Подтвердить заказ {% endtrans %}">
    </form>

</div>
{% endblock %}