{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    {% if form_set %}
    {% with show_button=False %}
    {% include 'store/basket_form.jinja' %}
    {% endwith %}
    {% endif %}
    <form method="post" id="Form"
          data-warehouses-url="{{ url('store:ajax_load_warehouses') }}"
          data-cities-url="{{ url('store:ajax_load_cities') }}">
        {% csrf_token %}
        {{ user_form.as_p() }}
        {{ordering_form.as_p()}}
        {{ warehouse_form.as_p() }}
        <button type="submit">Save</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $("#id_city").change(function () {
      var url = $("#Form").attr("data-warehouses-url");  // get the url of the `load_cities` view
      var cityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'city': cityId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_street").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    </script>

    <script>
    $("#id_search_city").change(function () {
      var url = $("#Form").attr("data-cities-url");
      var search = $(this).val();

      $.ajax({
        url: url,
        data: {
          'search': search
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });

    });







    </script>

</div>
{% endblock %}