{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container">
    <div id="left" class="row col-sm-12">
        <div id="left" class="col-sm-6">
            <a href="">
                <img src="{{ product.preview.url }}"
                     width="150" height="150"
                     alt="{{ product.alt }}"
                     class="img-thumbnail">
            </a>
            <p>
                {% trans %} Оставить отзыв {% endtrans %}
            </p>
            {% include 'core/massager.jinja' %}
            <form action="" method="post">
                {% csrf_token %}
                {{ review_form.as_p() }}
                <input type="submit"
                       value="{% trans %}Оставить отзыв{% endtrans %}">
            </form>

        </div>
        <div id="right" class="col-sm-6">
            <h3>{{ product.title }}</h3>
            <p>Артикул {{current_variant.vendor_code}} </p>
            <p>Бренд {{product.brand }}</p>
            <p>
                Создана:
                {{ product.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
            <p>
                Обновлено:
                {{ product.updated_at.strftime('%Y-%m-%d %H:%M') }}</p>
            {% if product.average_rating != 0 %}
            <p>Средний рейтинг: {{ product.average_rating }}</p>
            {% endif %}
            <p>Цена {{get_price(request, curse,current_variant.price)}} </p>
            {% if current_variant.price_sale != 0 %}
            <p>Цена по скидке {{ current_variant.price_sale}}</p>
            {% endif %}
            <p>Описание {{ product.description }}</p>
            <p> Цвета</p>
            {% for color, atr in color_list.items() %}
            <a href="{{atr.href}}">{{color}}</a>
            {{atr.status}}
            {% endfor %}

            <p> Размеры</p>
            {% for size, atr in size_list.items() %}
            <a href="{{atr.href}}">{{size}}</a>
            {{atr.status}}
            {% endfor %}
            <br/>
            <form action="{{url('store:add_basket', current_variant.pk) }}"
                  method="get">
                <input type='hidden' name='csrfmiddlewaretoken'
                       value='{{ csrf_token }}'/>
                {{ basket_product_form.as_p() }}
                {% for field in basket_product_form %}
                {% if field.name == 'in_basket' %}
                {% if field.value() == False %}
                <input type="submit"
                       value="{% trans %} Добавить в корзину {% endtrans %}">
                {% else %}
                <p>{% trans %} Товар уже в корзине {% endtrans %}</p>
                <input type="submit"
                       value="{% trans %} Обновить количество? {% endtrans %}">
                {% endif %}
                {% endif %}
                {% endfor %}
            </form>
            <p>{% trans %} Отзывы {% endtrans %}</p>
            {% if reviews %}
            {% for review in reviews %}
            <p>
                {{ review.rating }} * {{ review.user_name }}
                {{review.created_at|timesince}} {%trans%} назад{% endtrans %}
            </p>
            <p>
                {{ review.comment }}
            </p>
            {% endfor %}
            {% block pagination %}
            {% include 'core/pagination.jinja' %}
            {% endblock %}
            {% else %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}