{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category in main_category_list %}
        <div class="col-md-3">
            <p>{{ category.name }}</p>

            <a href="{{ url('store:main_category', category.slug) }}">
                <img src="{{ category.preview.url }}"
                     width="150" height="150"
                     alt="{{ category.alt }}"
                     class="img-thumbnail">
            </a>

            <p>{% trans %} Описание: {% endtrans %}
                {{ category.description }}</p>

        </div>
        {% endfor %}
    </div>
    <div class="row g-2 gy-20">
        <div class="col-md-8 col-xs-12 main">
            {% if product_list %}
            <p>{% trans %}Диапазон цены {% endtrans %}</p>
            <p>{% trans %}От {% endtrans %} {{get_price(request, curse,
                min)}} {% trans %} до {% endtrans %}{{get_price(request, curse,
                max)}} </p>
            <p>{% trans %} Количество совпадений {% endtrans %} {{
                count}} </p>
            {% for product in product_list %}
            <div id="left" class="row col-sm-12">

                <div id="left" class="col-sm-6">
                    <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                        <img src="{{ product.preview.url }}"
                             width="150" height="150"
                             alt="{{ product.alt }}"
                             class="img-thumbnail">
                    </a>
                </div>
                <div id="right" class="col-sm-6">
                    <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                        <h3>{{ product.title }}</h3>
                    </a>
                    <p>
                        Создана:
                        {{ product.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p>
                        Обновлено:
                        {{ product.updated_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p>Средний рейтинг: {{ product.average_rating }}</p>
                    {% for var in product.variants.iterator() %}
                    <p> {{var }} </p>
                    {% endfor %}
                    <p>Цена {{get_price(request, curse,
                        product.variants.first().price) }}</p>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div id="left" class="row col-sm-12">
                <div id="left" class="col-sm-6">
                    {% trans %} Нет товаров по вашему запросу {% endtrans %}
                </div>
                <div id="right" class="col-sm-6">
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-4 col-xs-12 sidebar">
            {% if sub_category_list %}
            <p>Подкатегории</p>
            {% for category in sub_category_list %}
            <div class="col-md-3">
                <a href="{{ url('store:sub_category', category.parent.slug, category.slug) }}">
                    {{ category.name }}
                </a>
            </div>
            {% endfor %}
            {% endif %}

            <p>Блок фильтрации</p>
            <form method="get">
                {{ filter.form.as_p() }}
                <input class="btn btn-primary" value="Искать"
                       type="submit"/>
                <a class="btn btn-primary" href="{{request.path}}">
                    Сбросить фильтр</a>
            </form>
        </div>
    </div>
    <br/>
    {% block pagination %}
    {% include 'core/pagination.jinja' %}
    {% endblock %}
</div>
{% endblock %}
