:root {
  --accent: #fab609;
  --primary: #06a1e4;
  --secondary: #F3F4F8;
  --pair: #0f7baa;
}
#branding.initialized {
  display: block;
  background: white !important;
  border: 1px solid var(--accent) !important;
}
body, .sidebar-popup {
    background: var(--secondary);
}
.sidebar-section {
  border-bottom: 0.07143rem solid var(--accent) !important;
}

.sidebar-right-arrow, .sidebar-link-icon, .sidebar-title-link, .sidebar-title, .sidebar-popup-title, .sidebar-right-plus  {
    color: var(--accent) !important;
    font-weight: 700 !important;
}
ul.messagelist li.success a {
  color: white !important
}
.sidebar, #branding {
  background: var(--primary) !important
  background: -webkit-gradient(linear,left top,left bottom,from(var(--primary)),to(var(--pair)));
  background: -webkit-linear-gradient(top,var(--primary) 0%,var(--pair) 100%);
  background: linear-gradient(180deg,var(--primary) 0%,var(--pair) 100%);
}
.sidebar-link {

  color: white !important
}
.sidebar-link:hover, .sidebar-link.selected {
  background: var(--accent) !important;
  color: var(--primary) !important

}
.sidebar-link:hover .sidebar-right-arrow {
  color: var(--primary) !important;
} 
.sidebar-left-pin {
  color: var(--primary) !important;
}
body.login {
  background: var(--pair) no-repeat center; 
  background: linear-gradient(180deg,var(--primary) 0%,var(--pair) 100%);
  background-size: auto 100%;
  height: 100vh;
  box-sizing: border-box;
}
#login-form:before {
  content: url(/static/img/logo.png);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}