<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>cabinet</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cabinet doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=es2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CAbortController%2CBlob%2CCustomEvent%2CDocumentFragment%2CDocumentFragment.prototype.append%2CDocumentFragment.prototype.prepend%2CIntersectionObserver%2CIntersectionObserverEntry%2CPromise%2CPromise.prototype.finally%2CResizeObserver%2CSymbol%2Cfetch%2CgetComputedStyle%2ClocalStorage%2CrequestAnimationFrame"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
