{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    Упс, страница не найдена
     <a href="{{url('home')}}">
        Главная
    </a>
</div>
{% endblock %}