<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom shadow-sm">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <img src="{{ footer_logo }}"
                             width="75" height="75"
                             alt="header_logo"
                             class="img-thumbnail">
                    </li>
                    {% set footer_menu = take_menu(position="Footer") %}
                    {% if footer_menu %}
                    {% for item in footer_menu %}
                    <li class="nav-item ">
                        <a class="nav-link "
                           target="{{ item.target }}"
                           href="{{ item.get_absolute_url() }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="nav-item ">
                        <a class="text-warning" href="{{url_developer}}"
                           target="_blank">
                            {% trans %} Ссылка на разработчиков {% endtrans %}</a>
                        <p>{% trans %} Номер телефона {% endtrans %}
                            {% for number in number_phone.all() %}
                            {{ number}}
                            {% endfor %}
                        </p>
                        <p>{% trans %} Почта{% endtrans %}{{email}}</p>
                    </li>

                    <li class="nav-item ">
                        {% include 'core/product_search_form.jinja' %}
                    </li>
                    <li class="nav-item ">
                        <a class="text-warning" href="{{url('contacts')}}">
                            Контакты
                        </a>
                    </li>
                    <li class="nav-item " style="margin-left: 50px;">>
                        <a class="text-warning" href="{{url('about')}}">
                            О нас
                        </a>
                    </li>
                    <li class=" nav-item " style="margin-left: 50px;">>
                        <a class="text-warning"
                           href="{{url('pay_and_delivery')}}">
                               Оплата и доставка
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>