<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom shadow-sm">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <img src="{{ header_logo }}"
                             width="75" height="75"
                             alt="header_logo"
                             class="img-thumbnail">
                    </li>
                    {% set header_menu = take_menu(position="Header") %}
                    {% if header_menu %}
                    {% for item_menu in header_menu %}
                    <li class="nav-item ">
                        <a class="nav-link "
                           target="{{ item_menu.target }}"
                           href="{{ item_menu.get_absolute_url() }}">
                            {{ item_menu.name }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="nav-item ">
                        <p>{% trans %} Курс {% endtrans %} UAH {{curse}} </p>
                        <a>{% trans %} Ваша валюта {% endtrans %}</a>
                        <a>{{ get_current_currency(request) }} </a>
                    </li>

                    <li class="nav-item ">
                        {% for l in get_list_currency() %}
                        {% if get_current_currency(request) != l[0] %}
                        <a href="{{ url('set_currency', l[0])}}"
                           class="btn btn-primary">{{ l[0] }}</a>
                        {% endif %}
                        {% endfor %}
                    </li>
                    <li class="nav-item ">
                        {% for l in LANGUAGES %}
                        {% if LANGUAGE_CODE != l[0] %}
                        <a href="{{ translate_url(request, l[0]) }}"
                           class="btn btn-primary">{{ l[0] }}</a>
                        {% endif %}
                        {% endfor %}
                    </li>

                    <li class="nav-item ">
                        {% if user.is_authenticated %}
                        <a>Ваш аккаунт :<a class="btn"
                                           href="{{url('account:profile')}}">
                            {{ user.username }}</a></a>
                        <a href="{{ url('account:account_logout') }}?next={{ request.path }}"
                           class="btn btn-primary">Выйти?</a>
                        {% else %}
                        <a href="{{ url('account:account_login') }}?next={{ request.path }}"
                           class="btn btn-primary">Войти</a>
                        {% endif %}
                    </li>

                    <li class="nav-item ">
                        <a href="{{ url('store:basket') }}"
                           class="btn btn-primary">Корзина({{basket_count_products}})</a>
                    </li>

                    <li class="nav-item ">
                        {% include 'core/product_search_form.jinja' %}
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    {% include 'core/breadcrumbs.jinja' %}
</div>

