{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category in object_list %}
        <div class="col-md-3">
            <p>{{ category.name }}</p>

            <a href="{{ url('store:main_category', category.slug) }}">
                <img src="{{ category.preview.url }}"
                     width="150" height="150"
                     alt="{{ category.alt }}"
                     class="img-thumbnail">
            </a>

            <p>{% trans %} Описание: {% endtrans %}
                {{ category.description }}</p>

        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>{% trans %} Товары со скидкой {% endtrans %}</p>
        {% for product in products_sale %}
        <div id="left" class="row col-sm-12">
            <div id="left" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <img src="{{ product.preview.url }}"
                         width="150" height="150"
                         alt="{{ product.alt }}"
                         class="img-thumbnail">
                </a>
            </div>
            <div id="right" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <h3>{{ product.title }}</h3>
                </a>
                {% trans %} Цена{% endtrans %}
                <s> {{get_price(request, curse,
                    product.variants.first().price) }}</s>
                <a>{{get_price(request, curse,
                    product.variants.first().price_sale) }}</a>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>{% trans %} Топ товары {% endtrans %}</p>
        {% for product in top_products %}
        <div id="left" class="row col-sm-12">
            <div id="left" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <img src="{{ product.preview.url }}"
                         width="150" height="150"
                         alt="{{ product.alt }}"
                         class="img-thumbnail">
                </a>
            </div>
            <div id="right" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <h3>{{ product.title }}</h3>
                </a>
                {% trans %} Цена{% endtrans %}
                <s> {{get_price(request, curse,
                    product.variants.first().price) }}</s>
                <a>{{get_price(request, curse,
                    product.variants.first().price_sale) }}</a>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>{% trans %} Топ продаж {% endtrans %}</p>
        {% for product in top_buy %}
        <div id="left" class="row col-sm-12">
            <div id="left" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <img src="{{ product.preview.url }}"
                         width="150" height="150"
                         alt="{{ product.alt }}"
                         class="img-thumbnail">
                </a>
            </div>
            <div id="right" class="col-sm-6">
                <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                    <h3>{{ product.title }}</h3>
                </a>
                {% trans %} Цена{% endtrans %}
                <s> {{get_price(request, curse,
                    product.variants.first().price) }}</s>
                <a>{{get_price(request, curse,
                    product.variants.first().price_sale) }}</a>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>{% trans %} Нам доверяют {% endtrans %}</p>
        {% for brand in brands %}
        <p>{% trans %} {{brand}} {% endtrans %}</p>
        <div id="left" class="row col-sm-12">
            <div id="left" class="col-sm-6">
                <a href="{{brand.url}}" target="_blank">
                    <img src="{{ brand.preview.url }}"
                         width="150" height="150"
                         alt="{{ brand.alt }}"
                         class="img-thumbnail">
                </a>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
