{% extends "core/base.jinja" %}
{% block title %}{{ msg_title }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if msg_subtitle %}
                <p>{{ msg_subtitle }}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
