{% if is_paginated %}
    <div class="pagination-wrap">
        <div class="pagination">
            {% if page_obj.has_previous() %}
                <a class="pagination__pagination-arrow arrow-transform icon-arrow" href="{{ url_replace_GET(request, page_obj.previous_page_number()) }}"></a>
            {% else %}
                <span class="pagination__pagination-arrow pag-arrow-last arrow-transform icon-arrow"></span>
            {% endif %}

            <div class="page-block">
                {% set numbered = numerate_pagination(page_obj.number, page_obj.paginator.num_pages, static=False, start_end=True) %}
                    {% for num in numbered %} {% if num==page_obj.number %}
                        <span class="page-block__page-number page-number-active">{{ num }}</span>
                    {% elif num == None %}<span class="page-block__page-number">...</span>{% else %}
                        <a class="page-block__page-number" href="{{ url_replace_GET(request, num) }}">{{ num }}</a>
                    {% endif %} {% endfor %}
            </div>

            {% if page_obj.has_next() %}
                <a class="pagination__pagination-arrow icon-arrow" href="{{ url_replace_GET(request, page_obj.next_page_number()) }}"></a>
            {% else %}
                <span class="pagination__pagination-arrow pag-arrow-last icon-arrow"></span>
            {% endif %}
        </div>
    </div>
{% endif %}