{% extends 'core/base.jinja' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row g-2 gy-20">
        <div class="col-md-8 col-xs-12 main">
            {% if product_list %}
            <p>Диапазон цены</p>
            <p>{% trans %} Количество совпадений {% endtrans %} {{
                product_list|length }} </p>
            {% for product in product_list %}
            <div id="left" class="row col-sm-12">
                <div id="left" class="col-sm-6">
                    <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                        <img src="{{ product.preview.url }}"
                             width="150" height="150"
                             alt="{{ product.alt }}"
                             class="img-thumbnail">
                    </a>
                </div>
                <div id="right" class="col-sm-6">
                    <a href="{{product.get_absolute_url()}}?variant={{product.variants.first().id}}">
                        <h3>{{ product.title }}</h3>
                    </a>
                    <p>
                        Создана:
                        {{ product.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p>
                        Обновлено:
                        {{ product.updated_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p>Средний рейтинг: {{ product.average_rating }}</p>
                    {% for var in product.variants.iterator() %}
                    <p> {{var }} </p>
                    {% endfor %}Поиск
                    <p>Цена {{get_price(request, curse,
                        product.variants.first().price) }}</p>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div id="left" class="row col-sm-12">
                <div id="left" class="col-sm-6">
                    {% trans %} Нет товаров по вашему запросу {% endtrans %}
                </div>
                <div id="right" class="col-sm-6">
                </div>
            </div>
            {% endif %}
        </div>

    </div>
    <br/>
</div>
{% endblock %}